logs/*
!.gitkeep
.DS_Store
tmp
.idea
**/*.iml
**/target
**/.DS_Store
.mvn
~$*.xls*
build/*
.gitattributes
repository/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
